/* 1442px */
@media (max-width: 1442px){
  .nav-2{
  width: 1240px;
  margin: 0 auto;
  }

  .nav-3{
  width: 1240px;
  margin: 0 auto;
  }

  .hero-section{
    width: 1240px;
    margin: 0 auto;
  }

  .btns-section{
    width: 1240px;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 8rem;
  }

  .btns-section ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    row-gap: 4rem;
  }

  .discover-section-container{
  width: 1240px;
  margin: 0 auto;
  }

  .shop-section-container{
  width: 1240px;
  margin: 0 auto;
  }

  .featured-section{
  width: 1240px;
  margin: 0 auto;
  }

  .featured-img{
    width: 600px;
  }

  .featured-data{
  display: flex;
  gap: 1rem;
  /* justify-content: space-between; */
  }
  
  .category-section-container{
  width: 1240px;
  margin: 0 auto;
  }
 
  .category-section a{
    padding: 1rem 4rem 1rem 4rem;
  }

  .landscap-section-container{
    width: 1240px;
    margin: 0 auto;
  }

  .landscap-section-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .abstract-section-container{
    width: 1240px;
    margin: 0 auto;
  }

  
  .abstract-section-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
  }

  .price-section-container{
    width: 1240px;
    margin: 0 auto;
  }
 
  .price-section a{
    padding: 1rem 4rem 1rem 4rem;
  }

  .article-section-container{
    width: 1240px;
    margin: 0 auto;
    padding: 3rem 3rem 3rem 3rem;
    background-color: #f2f2f2;
  }

  .explore-section-container{
    width: 1240px;
    margin: 0 auto;
  }

  .explore-section-headings{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .footer-section{
    width: 1040px;
    margin: 0 auto;
  }
  
}

/* 1240px */
@media (max-width: 1240px){
  .nav-2{
  width: 1000px;
  margin: 0 auto;
  }

  .nav-3{
  width: 1000px;
  margin: 0 auto;
  }

  .nav-3-list{
    font-size: 1rem;
  }

  .hero-section{
    width: 1000px;
    margin: 0 auto;
  }

  .btns-section{
    width: 1000px;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 8rem;
  }

  .btns-section ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    row-gap: 4rem;
  }

  .btns-section ul li a{
    font-size: 0.8rem;
  }

  .discover-section-container{
  width: 1000px;
  margin: 0 auto;
  }

  .discover-product-img{
    width: 300px;
    height: 300px;
  }

  .shop-section-container{
  width: 1000px;
  margin: 0 auto;
  }

  .featured-section{
    width: 1000px;
    margin: 0 auto;
  }

  .featured-img{
    width: 400px;
  }

  .featured-data{
    display: flex;
    gap: 1rem;
  /* justify-content: space-between; */
  }
  
  .category-section-container{
    width: 1000px;
    margin: 0 auto;
  }
 
  .category-section a{
    padding: 1rem 3rem 1rem 3rem;
  }

  .category-section a{
    font-size: 0.9rem;
  }

  .landscap-section-container{
    width: 1000px;
    margin: 0 auto;
  }

  .landscap-section-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .abstract-section-container{
    width: 1000px;
    margin: 0 auto;
  }

  
  .abstract-section-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
  }

  .price-section-container{
    width: 1000px;
    margin: 0 auto;
  }
 
  .price-section a{
    padding: 1rem 3rem 1rem 3rem;
    font-size: 0.8rem;
  }

  .article-section-container{
    width: 1000px;
    margin: 0 auto;
    padding: 3rem 3rem 3rem 3rem;
    background-color: #f2f2f2;
  }

  .article-main-img{
    width: 500px;
    height: 400px;
  }

  .explore-section-container{
    width: 1000px;
    margin: 0 auto;
  }

  .explore-imgs{
    width: 300px;
    height: 150px;
  }

  .explore-section-headings{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .footer-section{
    width: 1000px;
    margin: 0 auto;
  }

  .footer-center-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  .footer-search-bar{
  padding: 1rem 10rem 1rem 1rem;
  }
  
}

/* 1000px */
@media (max-width: 1000px){
  .nav-2{
    width: 700px;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .search-icon{
    display: block;
    width: 2rem;
    height: 2rem;
  }

  .search-bar{
    display: none;
  }

  .nav-3{
   width: 700px;
   margin: 0 auto;
  }
  
  .menu{
    display: block;
    color: aqua;
    padding-left: 40rem;
    /* padding-right: 20px; */
  }

  .nav-3-list li a{
    color: #f2f2f2;
    font-size: 1.4rem;
  }

  .nav-3-list {
    position: fixed;
    top: 130px;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.651);
    width: 100%;
    height: 80vh;
    display: block;
    text-align: center;
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
  }

  .nav-3-list li{
    margin-top: 20px;
  }

  .check:checked ~ .nav-3-list{
    left: 0%;
  }

  .nav-3-list{
    font-size: 1rem;
  }

  /* *********************************** */

  .hero-section{
    width: 700px;
    margin: 0 auto;
  }

  .btns-section{
    width: 700px;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 8rem;
  }

  .btns-section ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    /* column-gap: 1rem; */
    row-gap: 4rem;
  }

  .btns-section ul li a{
    font-size: 0.8rem;
  }

  .discover-section-container{
  width: 700px;
  margin: 0 auto;
  }

  .discover-products{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: space-between;
  }

  .discover-product-img{
    width: 300px;
    height: 300px;
  }

  .shop-section-container{
  width: 700px;
  margin: 0 auto;
  }

  .shop-text{
    font-size: 1rem;
    color: #333333;
    margin-bottom: 2rem;
  }

  .featured-section{
    width: 700px;
    margin: 0 auto;
  }

  .featured-img{
    width: 400px;
  }

  .featured-data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  /* justify-content: space-between; */
  }
  
  .category-section-container{
    width: 700px;
    margin: 0 auto;
  }

  .category-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .category-heading{
    font-size: 1.6rem;
  }
 
  .category-section a{
    padding: 1rem 2rem 1rem 2rem;
    font-size: 0.9rem;
  }

  .category-link-3{
    grid-column: 2;
  }

  .landscap-section-container{
    width: 700px;
    margin: 0 auto;
  }

  .landscap-section-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .abstract-section-container{
    width: 700px;
    margin: 0 auto;
  }

  
  .abstract-section-data{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: space-between;
  }

  .price-section-container{
    width: 700px;
    margin: 0 auto;
  }

  .price-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .price-section-heading{
    font-size: 1.6rem;
  }
 
  .price-section a{
    padding: 1rem 2rem 1rem 2rem;
    font-size: 0.8rem;
  }

  .price-link-3{
    grid-column: 2;
  }

  .article-section-container{
    width: 700px;
    margin: 0 auto;
    padding: 3rem 3rem 3rem 3rem;
    background-color: #f2f2f2;
  }

  .article-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .article-main-img{
    width: 500px;
    height: 400px;
  }

  .explore-section-container{
    width: 700px;
    margin: 0 auto;
  }

  .explore-imgs{
    width: 300px;
    height: 150px;
  }

  .explore-section-headings{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .explore-section-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
  }

  .footer-section{
    width: 700px;
    margin: 0 auto;
  }

  .footer-top{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-center-section{
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 3rem;
  }

  .footer-main-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    /* justify-content: space-between; */
  }

  .footer-search-bar{
  padding: 1rem 1rem 1rem 1rem;
  }

  .footer-list-1,
  .footer-list-2,
  .footer-list-3{
    text-align: center;
  }
  
  .footer-2nd-last{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }

}


/* 700px */

@media (max-width: 700px){

  .nav-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;

  }

  .nav-2{
    width: 370px;
    margin: 0 auto;
    margin-top: 1rem;
    overflow: hidden;

  }

  .search-icon{
    display: block;
    width: 2rem;
    height: 2rem;
  }

  .search-bar{
    display: none;
  }

  .nav-3{
   width: 370px;
   margin: 0 auto;
    overflow: hidden;

  }
  
  .menu{
    display: block;
    color: aqua;
    padding-left: 18rem;
    /* padding-right: 20px; */
  }

  .nav-3-list li a{
    color: #f2f2f2;
    font-size: 1.2rem;
  }

  .nav-3-list {
    position: fixed;
    top: 160px;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.651);
    width: 100%;
    height: 100vh;
    display: block;
    text-align: center;
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
  }

  .nav-3-list li{
    margin-top: 20px;
  }

  .check:checked ~ .nav-3-list{
    left: 0%;
  }

  .nav-3-list{
    font-size: 1rem;
  }

  /* *********************************** */

  .hero-section{
    width: 370px;
    margin: 0 auto;
    background-size: cover;
    /* overflow: hidden; */

  }

  .btns-section{
    width: 370px;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 8rem;
    padding-left: 2rem;
    display: none;
  }

  .btns-section ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 1fr; */
    /* column-gap: 1rem; */
    row-gap: 4rem;
  }

  .btns-section ul li a{
    font-size: 0.8rem;
  }

  .discover-section-container{
  width: 370px;
  margin: 0 auto;
  padding-top: 6rem;
  }

  .discover-heading{
    font-size: 0.7rem;
  }

  .discover-products{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5rem;
    margin-left: 2rem;
  }

  .discover-product-img{
    width: 300px;
    height: 300px;
  }

  .shop-section-container{
  width: 370px;
  margin: 0 auto;
  }

  .shop-text{
    font-size: 0.8rem;
    color: #333333;
    margin-bottom: 2rem;
  }

  .featured-section{
    width: 370px;
    margin: 0 auto;
    padding-left: 1.2rem;
  }

  .featured-data{
    gap: 4rem;
  }

  .featured-img{
    width: 330px;
  }

  .featured-data-text{
    font-size: 0.8rem;
  }

  .featured-data{
   display: flex;
   flex-direction: column;
   gap: 4rem;
  }
  
  .category-section-container{
    width: 370px;
    margin: 0 auto;
  }

  .category-section{
    display: flex;
    flex-direction: column;
  }

  .category-heading{
    font-size: 1.6rem;
  }
 
  .category-section a{
    padding: 1rem 4rem 1rem 4rem;
    font-size: 0.9rem;
  }

  .landscap-section-container{
    width: 370px;
    margin: 0 auto;
    padding-left: 0rem;
  }

  .landscap-heading-data{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 2.8rem;
  }

  .landscap-section-data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 4rem;
    text-align: center;
  }

  .abstract-section-container{
    width: 370px;
    margin: 0 auto;
    padding-left: 4.5rem;
  }

  .abstract-section-headings{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .abstract-heading{
    font-size: 1.1rem;
  }
  
  .abstract-section-data{
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .price-section-container{
    width: 370px;
    margin: 0 auto;
  }

  .price-section{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .price-section-heading{
    font-size: 1.6rem;
  }
 
  .price-section a{
    padding: 1rem 4rem 1rem 4rem;
    font-size: 0.8rem;
  }


  .article-section-container{
    width: 370px;
    margin: 0 auto;
    padding: 3rem 3rem 3rem 3rem;
    background-color: #f2f2f2;
  }

  .article-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .article-main-img{
    width: 300px;
    height: 200px;
  }

  .explore-section-container{
    width: 370px;
    margin: 0 auto;
    padding-left: 2.3rem;
  }


  .explore-imgs{
    width: 300px;
    height: 150px;
  }

  .explore-section-headings{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .explore-section-data{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    row-gap: 4rem;
  }

  .footer-section{
    width: 370px;
    margin: 0 auto;
  }

  .footer-top{
    display: none;
  }

  .footer-center-section{
   display: flex;
   flex-direction: column;
   row-gap: 5rem;
  }

  .footer-main-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    /* justify-content: space-between; */
  }

  .footer-search-bar{
  padding: 1rem 6rem 1rem 1rem;
  }

  .footer-list-1,
  .footer-list-2,
  .footer-list-3{
    text-align: start;
  }
  
  .footer-2nd-last{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }

}